* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(243,243,243,1);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="checkbox"] {
	display: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
}

nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 70px;
	background-color: rgba(199,83,102,1);
	border: 3px solid rgba(130,42,57,1);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
	white-space: nowrap;
}

li ul {
	display: none;
	position: absolute;
	background-color: rgba(199,83,102,1);
}

nav ul li {
    flex: 0 0 18rem;
	padding-top: 8px;
    text-align: center;
    display: block;
	font-size: 20px;
	white-space: nowrap;
}

nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    color: white;
}

nav ul li a:hover {
    color: rgb(255, 183, 196);
    font-style: italic;
}

nav ul li:hover ul {
	display: flex;
	flex-direction: column;
}

nav ul li ul li {
	flex: 0 1 auto;
	width: 8rem;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: none;
        flex-direction: column;
		background-color: rgba(199,83,102,1);
		border: 3px solid rgba(130,42,57,1);
    }

	.hamburger {
		display: block;
		float: right;
		cursor: pointer;
	}

	input[type="checkbox"]:checked ~ ul {
	display: block;
	}

	li ul {
	position: static;
	}

	nav ul li {
	flex: 0 0 auto;
	width: 100%;
	}
}

h1 {
	margin-top: 1cm;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	color: rgb(78, 77, 77);
}

main {
	display: flex;
	left: 50%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
	margin: auto;
}

.info {
    color: black;
    padding: 1cm;
    flex-basis: 400px;
    flex-grow: 1;
    font-size: 17px;
	justify-content: center;
}

p {
    margin-top: 1em;
	font-size: 19px;
}

input[type=email] {
	width: 100%;
	height: 50px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

input[type=text] {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

button {
	background-color: rgba(199,83,102,1);
	border: none;
	color: rgba(243,243,243,1);
	padding: 16px 32px;
	text-decoration: none;
	margin: 8px 2px;
	cursor: pointer;
	width: 100%;
}

button:hover {
	background-color: rgb(255, 183, 196);
	color: rgba(199,83,102,1);
	font-style: italic;
}

form {
	margin-top: 8cm;
	position: absolute;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 22px;
	}

	main {
		flex-wrap: wrap;
		width: 100%;
		margin: auto;
	}

	input[type=email] {
		width: 75%;
		margin-left: 1cm;
		margin-top: 3cm;
	}

	input[type=text] {
		width: 75%;
		margin-left: 1cm;
	}

	button {
		width: 75%;
		margin-left: 1cm;
	}
}

@media screen and (max-width: 1000px) {
	input[type=email] {
		margin-top: 3cm;
	}
}

