* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="checkbox"] {
	display: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
}

nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 70px;
	background-color: rgba(199,83,102,1);
	border: 3px solid rgba(130,42,57,1);
	z-index: 99;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
	white-space: nowrap;
}

li ul {
	display: none;
	position: absolute;
	background-color: rgba(199,83,102,1);
}

nav ul li {
    flex: 0 0 18rem;
	padding-top: 8px;
    text-align: center;
    display: block;
	font-size: 20px;
	white-space: nowrap;
}

nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    color: white;
}

nav ul li a:hover {
    color: rgb(255, 183, 196);
    font-style: italic;
}

nav ul li:hover ul {
	display: flex;
	flex-direction: column;
}

nav ul li ul li {
	flex: 0 1 auto;
	width: 8rem;
}

@media screen and (max-width: 700px) {
    nav ul {
        display: none;
        flex-direction: column;
		background-color: rgba(199,83,102,1);
		border: 3px solid rgba(130,42,57,1);
    }

	.hamburger {
		display: block;
		float: right;
		cursor: pointer;
	}

	input[type="checkbox"]:checked ~ ul {
	display: block;
	}

	li ul {
	position: static;
	}

	nav ul li {
	flex: 0 0 auto;
	width: 100%;
	}

	.body {
		overflow: hidden;
	}
}

.centered {
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 100px;
	font-style: italic;
	white-space: nowrap;
	color: rgb(161, 59, 76);
	background-color: rgba(255, 255, 255, 0.837);
	filter: drop-shadow(10px 10px 10px rgb(170, 169, 169));
	padding: 0.5cm 1cm 0.5cm 1cm;
	border-radius: 30px;
}

@media screen and (max-width: 900px) {
	.centered {
		padding-bottom: -9cm;
		justify-content: center;
		font-size: 30px;
		font-style: italic;
		white-space: nowrap;

	}
}

.undercentered {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 50px;
	font-style: italic;
	white-space: nowrap;
	color: rgb(161, 59, 76);
	background-color: rgba(255, 255, 255, 0.837);
	filter: drop-shadow(10px 10px 10px rgb(170, 169, 169));
	padding: 0.5cm 1cm 0.5cm 1cm;
	border-radius: 30px;
}

@media screen and (max-width: 900px) {
	.undercentered {
		padding-bottom: -10cm;
		justify-content: center;
		font-size: 22px;
		font-style: italic;
		white-space: nowrap;
		margin-top: -1.5cm;
	}
}

@media screen and (max-width: 600px) {
	.undercentered {
		padding-bottom: -10cm;
		justify-content: center;
		font-size: 17px;
		font-style: italic;
		white-space: nowrap;
		margin-top: -1cm;
	}

	.body {
		overflow: hidden;
	}
}