/* This stylesheet will be selected when you export HTML from InDesign */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
}

nav {
  /* this is where your nav list items will be */
}

section {
  border: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

section.dramatis {
}
section.play {
}
figure {
}

img {
}
h1.act {
}
p.character {
}
p.charactername {
}
h1.dramatishead {
}

h2.location {
}
p.play_location {
}
p.prose {
}

h2.firstscene {
}

h2.scene {
}
p.song {
}
h2.stagedirection {
}
.verseline {
  margin: 0 0 0.4em 8em;
}

p.prose {
  margin: 0 0 0.4em 8em;
}

span.character_role {
}
span.stage_directions_inline {
}

.character_beforespeech {
  display: block;
  position: relative;
  left: -8em;
  top: 1em;
  /* font-size: 1.1em; */
  width: 4em;
}
